* {
    border-radius: 0;
}

window#waybar {
    color: #ffffff;
    background-color: rgba(22, 22, 22, 0.8);
    border: solid rgba(77, 77, 77, 0.8);
    border-width: 0 0 1px 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    color: rgb(112, 112, 112);
    border: none;
    background-color: transparent;
    padding: 2px 4px 2px 4px;
    font-size: 17px;
    font-family: "SauceCodePro NF";
}

button:hover, #workspaces button:hover {
    /* background-color: rgba(125, 125, 125, 0.2); */
    color: rgb(156, 156, 156);
    font-size: 20px;
}

#pulseaudio:hover, #temperature:hover, #custom-power:hover {
    background-color: rgba(125, 125, 125, 0.2);
}

#workspaces {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#workspaces button.visible {
    color: rgb(188, 188, 188);
    font-size: 20px;
    font-weight: bold;
}

#workspaces button.urgent {
    color: #c97b37;
}

#backlight, #cpu, #memory, #disk, #pulseaudio, #temperature, #tray, #battery, #custom-power {
    color: rgb(200, 200, 200);
    background-color: transparent;
    padding: 2px 7px;
    border: solid rgba(77, 77, 77, 0.8);
    border-width: 0 1px;
    font-family: "SauceCodePro NF";
    font-size: 20px;
}

#custom-wofi, #custom-clock {
    color: rgb(200, 200, 200);
    background-color: transparent;
    padding: 2px 15px;
    border: none;
    font-family: "SauceCodePro NF";
    font-size: 20px;
}

#battery.warning {
    color: rgb(167, 116, 7);
}

#battery.critical {
    color: rgb(209, 24, 7);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgb(77, 77, 77);
}
