* {
    font-size: 16px;
    border-radius:0;
}

window#waybar {
    color: #ffffff;
    background-color: rgb(22, 22, 22);
    font-weight: bold;
    border: solid rgb(77, 77, 77);
    border-width: 0 0 2px 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    color: #ffffff;
    border: solid rgb(77, 77, 77);
    border-width: 0 1px 2px 1px;
    background-color: rgb(33, 33, 33);
    padding: 2px 12px 0 12px;
}

button:hover, #pulseaudio:hover, #workspaces button:hover, #custom-wofi:hover {
    background-color: rgb(77, 77, 77);
}

#workspaces {
    background-color: transparent;
    border: none;
    font-family: sans-serif;
}

#workspaces button.visible {
    color: rgb(14, 200, 200);
    background-color: rgb(55, 55, 55);
    font-size: 16px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#power-profiles-daemon, #cpu, #memory, #disk, #backlight, #network, #pulseaudio, #temperature, #tray {
    background-color: rgb(33, 33, 33);
    padding: 2px 7px 0 7px;
    border: solid rgb(77, 77, 77);
    border-width: 0 1px 2px 1px;
    font-family: sans-serif;
}

#custom-wofi, #clock {
    background-color: rgb(33, 33, 33);
    padding: 2px 16px 0 16px;
    border: solid rgb(77, 77, 77);
    border-width: 0 1px 2px 1px;
    font-family: sans-serif;
}

#battery {
    color: rgba(68, 167, 7, 0.9);
    background-color: rgb(33, 33, 33);
    padding: 2px 7px 0 7px;
    border: solid rgb(77, 77, 77);
    border-width: 0 1px 2px 1px;
    font-family: monospace;
}

#battery.warning {
    color: rgb(167, 116, 7);
}

#battery.critical {
    color: rgb(209, 24, 7);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgb(77, 77, 77);
}
