window#waybar {
    color: #ffffff;
    background-color: transparent;
    border: none;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#workspaces button {
    font-family: 'Noto Sans';
}

#workspaces button.visible {
    font-weight: bold;
}

#workspaces button.urgent {
    color: #c97b37;
}

#backlight, #cpu, #memory, #disk, #pulseaudio, #temperature, #battery {
    color: rgb(255, 255, 255);
    background-color: rgba(50,50,50,0.5);
    padding: 2px 8px;
    margin: 0px 2px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    font-family: "SauceCodePro NF";
    font-size: 20px;
}

#custom-clock {
    color: rgb(255, 255, 255);
    background-color: rgba(50,50,50,0.5);
    padding: 0px 8px;
    margin: 0;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    font-family: "Noto Sans";
    font-size: 20px;
}

#tray {
    color: rgb(255, 255, 255);
    background-color: rgba(50,50,50,0.5);
    padding: 2px 2px;
    margin: 0px 2px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    font-size: 20px;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgba(50,50,50,0.5);
    padding: 0px 7px;
    margin: 0px 2px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    font-family: "SauceCodePro NF";
    font-size: 20px;
}

#custom-power {
    color: rgb(255, 255, 255);
    background-color: rgba(50,50,50,0.5);
    padding: 2px 12px 2px 8px;
    margin: 0px 2px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    font-family: "SauceCodePro NF";
    font-size: 20px;
}

#custom-wofi {
    color: rgb(255, 255, 255);
    background-color: rgba(50,50,50,0.5);
    padding: 2px 10px 2px 8px;
    margin: 0px 2px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    font-family: "SauceCodePro NF";
    font-size: 20px;
}

button:hover, #workspaces button:hover, #workspaces button.visible, #pulseaudio:hover, #temperature:hover, #custom-power:hover, #custom-wofi:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

#tray widget {
    border-radius: 4px;
    padding: 0px 2px;
}

#tray widget:hover {
    background-color: rgba(150, 150, 150, 0.5);
}

#battery.warning {
    color: rgb(167, 116, 7);
}

#battery.critical {
    color: rgb(209, 24, 7);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgb(77, 77, 77);
}
