* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, sans-serif;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-right: 1px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    font-weight: bold;
    margin-right: 0;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    border: none;
    background-color: rgba(77, 77, 77, 0.75);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(100, 100, 100, 0.75);
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    background-color: rgba(77, 77, 77, 0.75);
}

#workspaces button:hover {
    background: rgba(100, 100, 100, 0.75);
}

#workspaces button.active {
    color: #00ffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window {
    background-color: transparent;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(77, 77, 77, 0.75);
}

#battery {
    background-color: rgba(77, 77, 77, 0.75);
}

#battery.charging, #battery.plugged {
    background-color: rgba(77, 77, 77, 0.75);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    background-color: rgba(77, 77, 77, 0.75);
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: rgba(77, 77, 77, 0.75);
}

#memory {
    background-color: rgba(77, 77, 77, 0.75);
}

#disk {
    background-color: rgba(77, 77, 77, 0.75);
}

#backlight {
    background-color: rgba(77, 77, 77, 0.75);
}

#network {
    background-color: rgba(77, 77, 77, 0.75);
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: rgba(77, 77, 77, .75);
}

#pulseaudio.muted {
    background-color: rgba(77, 77, 77, .75);
}

#wireplumber {
    background-color: rgba(77, 77, 77, .75);
}

#wireplumber.muted {
    background-color: rgba(77, 77, 77, .75);
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom.app-menu {
    background-color: rgba(77, 77, 77, 0.75);
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: rgba(77, 77, 77, 0.75);
}

#temperature.critical {
    background-color: rgba(77, 77, 77, 0.75);
}

#tray {
    background-color: rgba(77, 77, 77, 0.75);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(77, 77, 77, 0.75);
}

#idle_inhibitor {
    background-color: rgba(77, 77, 77, 0.75);
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}